<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation Week 3 Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E9B42871BBCF60F00456154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9B429B1BBCF61000456154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9B42A61BBCF61000456154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
